$primary_color: #fc6736;
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.logo {
  font-family: "Pacifico", serif, Helvetica;
  font-size: 32px;
  color: $primary_color;
  text-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.7);
  width: fit-content;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .logo {
    font-size: 28px;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    font-size: 32px;
  }
}
