$logo_color: #fc6736;
$primary_color: #65b741;
$neutral_color: #6d6363;
$neutral_color2: #f2f1eb;
$neutral_color3: #302a2a;
$neutral_color4: #534f50;
$neutral_color5: #ffffff;

$error_color: #b00020;

$bgcolor1: rgba(
  $color: $neutral_color2,
  $alpha: 0.7,
);

//font weight
$bold: 700;
$medium: 500;
$regular: 400;

@mixin form-templete-one {
  min-width: 300px;
  padding: 1rem;
  margin-top: 8rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin buttons-tmplate {
  padding-block: 0.5rem;
  font-size: 0.875rem;
  font-weight: $medium;
  color: $neutral_color2;
  background-color: $primary_color;
  border: 1px solid $primary_color;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  outline: none;

  &:hover,
  &:focus {
    color: $primary_color;
    background-color: $bgcolor1;
  }
}

@mixin login-page-imgs {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 2px 2px 5px 0px $neutral_color3;
}

@mixin star-rating-display {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

@mixin tooltip {
  padding: 0.5rem;
  background-color: base.$neutral_color3;
  color: base.$neutral_color5;
}
