@use "./base.scss";

.create-recipe-form-container {
  width: 100%;
  height: 100%;
  padding: 2rem 1rem 3rem;
  color: base.$neutral_color;
  overflow-y: scroll;
  .title {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    font-weight: base.$bold;
    color: base.$neutral_color3;
    text-align: center;
  }
  .create-recipe-form {
    width: clamp(300px, 100%, 600px);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-inline: auto;

    .description-field-wrapper {
      width: 100%;
      position: relative;
    }

    .label {
      font-size: 1.5rem;
      font-weight: base.$medium;
    }

    .recipe-input {
      width: 100%;
      // margin-inline: auto;
      border: none;
      border-bottom: 1px solid base.$neutral_color;
      padding: 0.5rem;
      outline: none;
      color: base.$neutral_color;
      font-size: 1rem;
      font-weight: base.$regular;
    }

    textarea {
      width: 100%;
      padding: 0.5rem 0.5rem 1.25rem;
      border: 1px solid base.$neutral_color;
      border-radius: 5px;
      color: base.$neutral_color;
      font-size: 0.75rem;
      outline: none;
    }

    .recipe-title {
      font-size: 1.25rem;
      font-weight: base.$medium;
    }

    .tags-display {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      .recipe-tags {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem;
        width: fit-content;
        border: 1px solid base.$neutral_color;
        border-radius: 25px;
        font-size: 0.75rem;
      }
    }

    .description-length {
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;
      font-size: 0.75rem;
    }

    .ingredients-form,
    .steps-form {
      width: 100%;
      margin-block: 1rem;

      .label {
        margin-bottom: 1rem;
        font-size: 1.5rem;
      }

      .add-ingredients-btn,
      .add-steps-btn {
        margin-block: 0.5rem;
        padding-inline: 2rem;
        border: 1px solid base.$primary_color;
        border-radius: 5px;
        background-color: base.$primary_color;
        color: base.$neutral_color2;
        cursor: pointer;
      }
    }

    .ingredients,
    .steps {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .ingredient,
    .step {
      position: relative;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      textarea {
        flex: 1;
        border-radius: 0;
      }

      .remove-icon {
        width: fit-content;
        // position: absolute;
        // right: 0;
        // top: 50%;
        // transform: translateY(-50%);
        cursor: pointer;
      }
    }

    .numbering {
      padding-block: 0.5rem;
      font-size: 1.25rem;
    }
    .option-group {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-block: 0.25rem;

      label {
        user-select: none;
        cursor: pointer;
      }

      input {
        padding: 1rem;
      }
    }
    .time-difficulty-serving-wrapper {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .cooking-time-wrapper,
    .serving-wrapper {
      display: flex;
      gap: 1rem;
      align-items: center;
      input {
        appearance: textfield;
        width: 3rem;
        padding: 0.5rem;
        // border: 1px solid base.$neutral_color;
        border-radius: 5px;
        border: none;
        font-size: 1rem;
        color: base.$neutral_color;
        outline: none;
      }
    }

    .cooking-time-wrapper {
      .hour-time,
      .min-time {
        display: flex;
        flex-direction: column;
      }

      input {
        // border: 1px solid base.$neutral_color;
        text-align: center;
      }
      .up-btn,
      .down-btn {
        padding-inline: 1rem;
        border: 1px solid base.$primary_color;
        border-radius: 5px;
        background-color: base.$primary_color;
        color: base.$neutral_color2;
        font-size: 1rem;
        font-weight: base.$medium;
        cursor: pointer;
      }
    }

    .serving-wrapper {
      .increase-btn,
      .decrease-btn {
        padding: 0.5rem 1rem;
        border: 1px solid base.$primary_color;
        border-radius: 5px;
        background-color: base.$primary_color;
        color: base.$neutral_color2;
        font-size: 1rem;
        font-weight: base.$medium;
        cursor: pointer;
        user-select: none;
      }
    }

    .difficulty-wrapper {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      select {
        padding: 0.5rem;
        border: 1px solid base.$primary_color;
        border-radius: 5px;
        background-color: base.$primary_color;
        color: base.$neutral_color2;
        font-weight: base.$medium;
        cursor: pointer;
      }
    }

    .attachment-form {
      margin-inline: auto;
      width: 100%;
      height: 250px;
      position: relative;

      .picture-preview {
        width: 100%;
        height: 100%;
        border: 1px dashed base.$neutral_color;
        position: relative;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .attachment-file {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }

    .submit-btn {
      @include base.buttons-tmplate;
    }
  }
}

@media screen and (min-width: 600px) {
  .create-recipe-form {
    .more-option {
      display: flex;
      gap: 1rem;
    }
  }
}
