@use "./base.scss" as base;

.login-form-container {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .signup-btn {
      @include base.buttons-tmplate;
      padding-inline: 1.5rem;
    }
  }
}

.login-form {
  @include base.form-templete-one;
  h2 {
    font-size: 1.75rem;
    color: base.$neutral_color;
    margin-bottom: 3rem;
    font-weight: base.$bold;
    user-select: none;
  }

  .form-group {
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
    color: base.$neutral_color;

    label {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      transition: 0.3s ease;

      &:has(+ input:focus),
      &:has(+ input:valid) {
        top: -1rem;
      }
    }

    input {
      background-color: base.$bgcolor1;
      padding: 0.5rem;
      width: 100%;
      font-size: 1rem;
      color: base.$neutral_color;
      background-color: base.$neutral_color2;
      border: none;
      border-bottom: 1px solid base.$neutral_color;
      outline: none;
    }

    .show-hide-icon {
      padding: 0.5rem;
      width: fit-content;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;

      &:hover {
        color: base.$accent_color;
      }
    }
  }
  button {
    @include base.buttons-tmplate;
    margin-bottom: 1rem;
    width: 100%;
  }
  span {
    cursor: pointer;
    font-size: 1rem;
    color: base.$neutral_color;

    &:hover {
      color: rgba($color: base.$neutral_color, $alpha: 0.7);
    }
  }
  .signup-link-responsive {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .login-form-container {
    header {
      justify-content: center;
    }

    .signup-btn {
      display: none;
    }

    .login-form {
      margin-top: 2rem;
    }
    .signup-link-responsive {
      display: block;
      margin-top: 1rem;
      color: base.$neutral_color;
    }
  }
}
