@use "base.scss";

.spinner {
  width: fit-content;
  margin-inline: auto;
  animation: loading 1s infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
